/*
$event: #ff0000;
$theatre: #ffd000;
$festival: #0000FF;
*/
$light-grey: black;

$border-inset: 5vw;
$border-width: 6px;

$under-border-z: 900;
$border-z: 1000;
$over-border-z: 1100;

$num-menu-items: 5