{% extends "_layout" %}
{% set title = "Contact" %}

{% block content %}

    {% for entry in craft.entries.section('contact') %}
        
        <div class="header-image lazy-img" data-src="{% for asset in entry.heroImage %}{{ asset.url }}{% endfor %}">
        	
        	<div class="row bg-black headline">
        		<div class="pad-right-4 pad-bottom-1 pad-top-2">
    				<h1 class="pad-top-0-5">{{ entry.title }}</h1>
    			</div>
    		</div>
    	
        </div>       
            
        <div class="row row_copy bg-black pad-bottom-6 pad-top-4">
            <div class="col-6 off-1">
                {{ entry.body }}
            </div>
            
            <div class="col-6 off-1 pad-top-3">
                <div class="border-bottom pad-bottom-3"><p>Subscribe to our mailing list:</p></div>
                
                <!-- Begin MailChimp Signup Form -->
         
                <div id="mc_embed_signup">
                    <form action="//petershamroad.us12.list-manage.com/subscribe/post?u=789b0e8a501205b32d5d15aa4&amp;id=6944403981" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            
                            <div class="mc-field-group">
                            	<label for="mce-EMAIL">Email Address</label>
                            	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            
                            <div class="mc-field-group">
                            	<label for="mce-FNAME">First Name </label>
                            	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                            </div>
                            <div class="mc-field-group">
                            	<label for="mce-LNAME">Last Name </label>
                            	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                            </div>
                            
                        	<div id="mce-responses" class="clear">
                        		<div class="response" id="mce-error-response" style="display:none"></div>
                        		<div class="response" id="mce-success-response" style="display:none"></div>
                        	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_789b0e8a501205b32d5d15aa4_6944403981" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" id="submit" class="button submit"></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->

            </div>
        </div>
        
      
      
        
        <div class="row bg-black">
            <div class="col-12 widescreen" id="map">
                
            </div>
        </div>
        
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB0stT4T4vnYlkqrckWQfcn47GzPv8nj0"></script>
        
        <script>
            
            var center = new google.maps.LatLng( {{entry.mapLatitude}}, {{entry.mapLongitude}} );
            
            var map = new google.maps.Map( document.getElementById('map'), {
                center: center,
                zoom: 16,
                scrollwheel: false,
                disableDefaultUI: true
            })
            
            var marker = new google.maps.Marker({position: center});
            
            marker.setMap(map);
            
        </script>
        
    {% endfor %}
    
{% endblock %}
